.my_container{
    max-width: 1020px;
    margin: 0 auto;
}

.comic-head{
    height: 80px;
    background-color: $primary;
}

.single-cover{
    width: 195px;
    position: relative;
    top: -225px;

    .back-link{
        background-color: #00A9D9;
    }
}

.highlight{
    background-color: $highlight;
}