#top-bar{
    background-color: $primary;
}

nav{
    .nav-logo{
        width: 80px;
    }

    .searchbar{
        border-bottom: 2px solid $primary;
    }

    input::-webkit-input-placeholder{
        text-align: end;
        font-weight: bold;
    }


}